$main-sprite: '%%sprite%%';

@mixin sprite-image($sprite) {
  $sprite-image: $main-sprite;
  background-image: url(#{$sprite-image});
}

// @if variable-exists($sprite . 'h') {
//     /* I get output to the CSS file */
// }

@mixin sprite-h($sprite) {
  &:hover { @include sprite-position($sprite); }
}

body {
  font-family: arial, verdana, helvetica, sans-serif;
  overflow-x: hidden;
}

.tagline a {
  color: $primary-color;
}

.pseudo-icon {
  content: '';
  display: inline-block;
  margin: 0 3px;
  vertical-align: middle;
}
