$main-sprite: '%%sprite%%';

@mixin sprite-image($sprite) {
  $sprite-image: $main-sprite;
  background-image: url(#{$sprite-image});
}

// @if variable-exists($sprite . 'h') {
//     /* I get output to the CSS file */
// }

@mixin sprite-h($sprite) {
  &:hover { @include sprite-position($sprite); }
}

body {
  font-family: arial, verdana, helvetica, sans-serif;
  overflow-x: hidden;
}

.tagline a {
  // color: $primary-color;
  color: $secondary-color;
}

.pseudo-icon {
  content: '';
  display: inline-block;
  vertical-align: middle;
}

.md a {
  color: $secondary-color;
}

a { color: $secondary-color; }


@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale(.3);
  }

  20% {
    transform: scale(1.1);
  }

  40% {
    transform: scale(.9);
  }

  60% {
    opacity: 1;
    transform: scale(1.03);
  }

  80% {
    transform: scale(.97);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.bounceIn {
  animation-name: bounceIn;
  animation-fill-mode: both;
  animation-duration: .75s;
}