// $header01: '../prod/img/header.jpg';
$header00: '%%header00%%';
$header01: '%%header01%%';
$header02: '%%header02%%';
$header03: '%%header03%%';
$header04: '%%header04%%';
$header05: '%%header05%%';
$header06: '%%header06%%';
$header07: '%%header07%%';
$header08: '%%header08%%';
$header09: '%%header09%%';
$header10: '%%header10%%';
$header11: '%%header11%%';

$header-height: 450px;

#header {
  height: $header-height;
  background-color: transparent;
  border: none;
  z-index: initial;
  text-align: center;
  &::before { // Shadows for left and right edges
    position: absolute;
    top: 0; left: 0;
    content: '';
    width: 100%; height: $header-height + 200;
    background: linear-gradient(to right, rgba(33,33,33,1) 0%,rgba(33,33,33,0) 15%,rgba(33,33,33,0) 85%,rgba(33,33,33,1) 100%);
    background-position: top center;
    background-size: 2180px;
    z-index: -1;
  }
}

#header-bottom-left {
  // position: absolute;
  // text-align: center;
  // bottom: 13%;
  // width: 100%;
  // font-family: 'century gothic';
  display: inline-block;
  font-family: "Trebuchet MS", Trebuchet, Helvetica, sans-serif;
  margin-top: 280px;
  #header-img-a:hover::before,
  .pagename:hover {
    // animation: iconBounce .6s .1s backwards;
  }
}

#header-img-a {
  display: inline-block;
  &::before,
  &::after {
    // font-size: 6.5em;
    font-size: 79px;
    display: inline-block;
  }
  &::before { content: 'R'; }
  &::after {
    content: '/';
    color: $primary-color;
  }
}

#header-img {
  display: none;
}

.pagename {
  text-transform: uppercase;
  font-variant: normal;
  font-weight: normal;
  margin: 0;
  display: inline-block;
  a {
    font-size: 79px;
    &:hover { text-decoration: none; }
  }
}

#header-img-a::before, .pagename a {
  color: #fff;
  font-family: "Myriad Pro", "Geneva", "Helvetica neue", "Helvetica", sans-serif;
}

@mixin tabmenu-item($width,$margin,$alignment) {
  display: inline-block;
  @if $alignment == 'left' {
    float: left;
    left: -($margin);
  }
  @if $alignment =='right' {
    float: right;
    right: -($margin);
  }
  a { width: $width; }
}

@mixin tabmenu-edge($alignment) {
  &::after {
    display: block;
    width: 120px;
    @if $alignment == 'left' { left: -120px;}
    @if $alignment == 'right' { left: auto; right: -120px; }
  }
}


body.listing-page #header .tabmenu {
  li:nth-of-type(-n+2) { // Hot, New
    @include tabmenu-item(60px,180px,'left')
  }
  li:nth-of-type(5), // Top
  li:nth-of-type(7) { // Wiki
    @include tabmenu-item(60px,180px,'right')
  }
  li:nth-of-type(5) {
    @include tabmenu-edge('right')
  }
}

body.comments-page #header .tabmenu {
  li:first-of-type {
    @include tabmenu-item(180px,180px,'left')
  }
  li:nth-of-type(2) {
    @include tabmenu-item(180px,180px,'right')
    @include tabmenu-edge('right')
  }
  li:first-child:nth-last-child(2) {
    // display: none;
    // visibility: hidden;
  }
  min-width: 360px;
}


#header .tabmenu {
  display: block;
  margin-top: -50px;
  width: 100%;
  font-size: 22px;
  li {
    position: relative;
    display: none;
    margin: 0;
    font-weight: normal;
    vertical-align: top;
    // Show Hot, New, Wiki, and Top on listing page
    &:hover {
      a { color: $primary-color; }
      &::before { background-color: $primary-color; }
    }
    &::after,
    &::before {
      position: absolute;
      display: block;
      content: '';
      top: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #fff;
    }
    &::after { display: none; }
    &:first-child {
      @include tabmenu-edge('left')
    }

  }
  li a, li.selected a {
    background-color: transparent;
  }
  li a {
    display: inline-block;
    padding: 3px 10px;
    width: 60px;
    color: #fff;
  }
  li.selected {
    &::before {
      background-color: $primary-color;
    }
    a {
      color: $primary-color;
      border: none;
    }
  }
  // li a[href$="/rising/"],
  // li a[href$="/controversial/"],
  // li a[href$="/gilded/"],
  // li a[href$="/ads/"]
  //  {
  //     display: none;
  // }
  li.res-tabmenu-button {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  &::after {
    display: block;
    content: 'For all your kpop picture needs';
    text-transform: uppercase;
    font-size: 14px;
    color: $primary-color;
    clear: both;
    width: 100%;
  }
}

body {
  background-color: $page-bg-color;
  &::after { // Shadows for background image.
    content: '';
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 700px;
    z-index: -1;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 45%, rgba($page-bg-color,0.95) 77%, rgba($page-bg-color,1) 87%);
    background-color: rgba(100,100,111,0.25);
  }
}


input[name=uh] ~ a::before {
  content: '';
  display: block;
  position: absolute;
  top: -$header-height; right: -($body-margin);
  width: calc(100vw - 14px);
  height: 700px;
  background-color: $page-bg-color;
  background-image: url($header05);
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: -2;
}

input[name=uh][value$="0"] ~ a::before { background-image: url($header00); }
input[name=uh][value$="1"] ~ a::before { background-image: url($header01); }
input[name=uh][value$="2"] ~ a::before { background-image: url($header02); }
input[name=uh][value$="3"] ~ a::before { background-image: url($header03); }
input[name=uh][value$="4"] ~ a::before { background-image: url($header04); }
input[name=uh][value$="5"] ~ a::before { background-image: url($header05); }
input[name=uh][value$="6"] ~ a::before { background-image: url($header06); }
input[name=uh][value$="7"] ~ a::before { background-image: url($header07); }
input[name=uh][value$="8"] ~ a::before { background-image: url($header08); }
input[name=uh][value$="9"] ~ a::before { background-image: url($header09); }
input[name=uh][value$="a"] ~ a::before { background-image: url($header10); }
input[name=uh][value$="b"] ~ a::before { background-image: url($header11); }

@media (max-width: 1480px) {
  input[name=uh] ~ a::before {
    background-size: 1480px;
  }
}

@media (min-width: 2180px) {
  input[name=uh] ~ a::before {
    background-size: 2180px;
  }
}
