/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arrow-down-a-name: 'arrow-down-a';
$arrow-down-a-x: 84px;
$arrow-down-a-y: 94px;
$arrow-down-a-offset-x: -84px;
$arrow-down-a-offset-y: -94px;
$arrow-down-a-width: 13px;
$arrow-down-a-height: 6px;
$arrow-down-a-total-width: 156px;
$arrow-down-a-total-height: 128px;
$arrow-down-a-image: 'sprite.png';
$arrow-down-a: (84px, 94px, -84px, -94px, 13px, 6px, 156px, 128px, 'sprite.png', 'arrow-down-a', );
$arrow-down-name: 'arrow-down';
$arrow-down-x: 108px;
$arrow-down-y: 84px;
$arrow-down-offset-x: -108px;
$arrow-down-offset-y: -84px;
$arrow-down-width: 13px;
$arrow-down-height: 6px;
$arrow-down-total-width: 156px;
$arrow-down-total-height: 128px;
$arrow-down-image: 'sprite.png';
$arrow-down: (108px, 84px, -108px, -84px, 13px, 6px, 156px, 128px, 'sprite.png', 'arrow-down', );
$arrow-up-a-name: 'arrow-up-a';
$arrow-up-a-x: 84px;
$arrow-up-a-y: 80px;
$arrow-up-a-offset-x: -84px;
$arrow-up-a-offset-y: -80px;
$arrow-up-a-width: 13px;
$arrow-up-a-height: 6px;
$arrow-up-a-total-width: 156px;
$arrow-up-a-total-height: 128px;
$arrow-up-a-image: 'sprite.png';
$arrow-up-a: (84px, 80px, -84px, -80px, 13px, 6px, 156px, 128px, 'sprite.png', 'arrow-up-a', );
$arrow-up-name: 'arrow-up';
$arrow-up-x: 80px;
$arrow-up-y: 56px;
$arrow-up-offset-x: -80px;
$arrow-up-offset-y: -56px;
$arrow-up-width: 13px;
$arrow-up-height: 6px;
$arrow-up-total-width: 156px;
$arrow-up-total-height: 128px;
$arrow-up-image: 'sprite.png';
$arrow-up: (80px, 56px, -80px, -56px, 13px, 6px, 156px, 128px, 'sprite.png', 'arrow-up', );
$entry-button-chat-name: 'entry-button-chat';
$entry-button-chat-x: 136px;
$entry-button-chat-y: 112px;
$entry-button-chat-offset-x: -136px;
$entry-button-chat-offset-y: -112px;
$entry-button-chat-width: 16px;
$entry-button-chat-height: 16px;
$entry-button-chat-total-width: 156px;
$entry-button-chat-total-height: 128px;
$entry-button-chat-image: 'sprite.png';
$entry-button-chat: (136px, 112px, -136px, -112px, 16px, 16px, 156px, 128px, 'sprite.png', 'entry-button-chat', );
$header-icon-briefcase-a-name: 'header-icon-briefcase-a';
$header-icon-briefcase-a-x: 80px;
$header-icon-briefcase-a-y: 28px;
$header-icon-briefcase-a-offset-x: -80px;
$header-icon-briefcase-a-offset-y: -28px;
$header-icon-briefcase-a-width: 20px;
$header-icon-briefcase-a-height: 20px;
$header-icon-briefcase-a-total-width: 156px;
$header-icon-briefcase-a-total-height: 128px;
$header-icon-briefcase-a-image: 'sprite.png';
$header-icon-briefcase-a: (80px, 28px, -80px, -28px, 20px, 20px, 156px, 128px, 'sprite.png', 'header-icon-briefcase-a', );
$header-icon-briefcase-h-name: 'header-icon-briefcase-h';
$header-icon-briefcase-h-x: 0px;
$header-icon-briefcase-h-y: 80px;
$header-icon-briefcase-h-offset-x: 0px;
$header-icon-briefcase-h-offset-y: -80px;
$header-icon-briefcase-h-width: 20px;
$header-icon-briefcase-h-height: 20px;
$header-icon-briefcase-h-total-width: 156px;
$header-icon-briefcase-h-total-height: 128px;
$header-icon-briefcase-h-image: 'sprite.png';
$header-icon-briefcase-h: (0px, 80px, 0px, -80px, 20px, 20px, 156px, 128px, 'sprite.png', 'header-icon-briefcase-h', );
$header-icon-briefcase-name: 'header-icon-briefcase';
$header-icon-briefcase-x: 28px;
$header-icon-briefcase-y: 80px;
$header-icon-briefcase-offset-x: -28px;
$header-icon-briefcase-offset-y: -80px;
$header-icon-briefcase-width: 20px;
$header-icon-briefcase-height: 20px;
$header-icon-briefcase-total-width: 156px;
$header-icon-briefcase-total-height: 128px;
$header-icon-briefcase-image: 'sprite.png';
$header-icon-briefcase: (28px, 80px, -28px, -80px, 20px, 20px, 156px, 128px, 'sprite.png', 'header-icon-briefcase', );
$header-icon-cog-h-name: 'header-icon-cog-h';
$header-icon-cog-h-x: 56px;
$header-icon-cog-h-y: 80px;
$header-icon-cog-h-offset-x: -56px;
$header-icon-cog-h-offset-y: -80px;
$header-icon-cog-h-width: 20px;
$header-icon-cog-h-height: 20px;
$header-icon-cog-h-total-width: 156px;
$header-icon-cog-h-total-height: 128px;
$header-icon-cog-h-image: 'sprite.png';
$header-icon-cog-h: (56px, 80px, -56px, -80px, 20px, 20px, 156px, 128px, 'sprite.png', 'header-icon-cog-h', );
$header-icon-cog-name: 'header-icon-cog';
$header-icon-cog-x: 108px;
$header-icon-cog-y: 0px;
$header-icon-cog-offset-x: -108px;
$header-icon-cog-offset-y: 0px;
$header-icon-cog-width: 20px;
$header-icon-cog-height: 20px;
$header-icon-cog-total-width: 156px;
$header-icon-cog-total-height: 128px;
$header-icon-cog-image: 'sprite.png';
$header-icon-cog: (108px, 0px, -108px, 0px, 20px, 20px, 156px, 128px, 'sprite.png', 'header-icon-cog', );
$header-icon-logout-h-name: 'header-icon-logout-h';
$header-icon-logout-h-x: 108px;
$header-icon-logout-h-y: 28px;
$header-icon-logout-h-offset-x: -108px;
$header-icon-logout-h-offset-y: -28px;
$header-icon-logout-h-width: 20px;
$header-icon-logout-h-height: 20px;
$header-icon-logout-h-total-width: 156px;
$header-icon-logout-h-total-height: 128px;
$header-icon-logout-h-image: 'sprite.png';
$header-icon-logout-h: (108px, 28px, -108px, -28px, 20px, 20px, 156px, 128px, 'sprite.png', 'header-icon-logout-h', );
$header-icon-logout-name: 'header-icon-logout';
$header-icon-logout-x: 108px;
$header-icon-logout-y: 56px;
$header-icon-logout-offset-x: -108px;
$header-icon-logout-offset-y: -56px;
$header-icon-logout-width: 20px;
$header-icon-logout-height: 20px;
$header-icon-logout-total-width: 156px;
$header-icon-logout-total-height: 128px;
$header-icon-logout-image: 'sprite.png';
$header-icon-logout: (108px, 56px, -108px, -56px, 20px, 20px, 156px, 128px, 'sprite.png', 'header-icon-logout', );
$header-icon-mail-a-name: 'header-icon-mail-a';
$header-icon-mail-a-x: 40px;
$header-icon-mail-a-y: 40px;
$header-icon-mail-a-offset-x: -40px;
$header-icon-mail-a-offset-y: -40px;
$header-icon-mail-a-width: 20px;
$header-icon-mail-a-height: 20px;
$header-icon-mail-a-total-width: 156px;
$header-icon-mail-a-total-height: 128px;
$header-icon-mail-a-image: 'sprite.png';
$header-icon-mail-a: (40px, 40px, -40px, -40px, 20px, 20px, 156px, 128px, 'sprite.png', 'header-icon-mail-a', );
$header-icon-mail-h-name: 'header-icon-mail-h';
$header-icon-mail-h-x: 28px;
$header-icon-mail-h-y: 108px;
$header-icon-mail-h-offset-x: -28px;
$header-icon-mail-h-offset-y: -108px;
$header-icon-mail-h-width: 20px;
$header-icon-mail-h-height: 20px;
$header-icon-mail-h-total-width: 156px;
$header-icon-mail-h-total-height: 128px;
$header-icon-mail-h-image: 'sprite.png';
$header-icon-mail-h: (28px, 108px, -28px, -108px, 20px, 20px, 156px, 128px, 'sprite.png', 'header-icon-mail-h', );
$header-icon-mail-name: 'header-icon-mail';
$header-icon-mail-x: 56px;
$header-icon-mail-y: 108px;
$header-icon-mail-offset-x: -56px;
$header-icon-mail-offset-y: -108px;
$header-icon-mail-width: 20px;
$header-icon-mail-height: 20px;
$header-icon-mail-total-width: 156px;
$header-icon-mail-total-height: 128px;
$header-icon-mail-image: 'sprite.png';
$header-icon-mail: (56px, 108px, -56px, -108px, 20px, 20px, 156px, 128px, 'sprite.png', 'header-icon-mail', );
$header-icon-reddit-sqare-name: 'header-icon-reddit-sqare';
$header-icon-reddit-sqare-x: 84px;
$header-icon-reddit-sqare-y: 108px;
$header-icon-reddit-sqare-offset-x: -84px;
$header-icon-reddit-sqare-offset-y: -108px;
$header-icon-reddit-sqare-width: 20px;
$header-icon-reddit-sqare-height: 20px;
$header-icon-reddit-sqare-total-width: 156px;
$header-icon-reddit-sqare-total-height: 128px;
$header-icon-reddit-sqare-image: 'sprite.png';
$header-icon-reddit-sqare: (84px, 108px, -84px, -108px, 20px, 20px, 156px, 128px, 'sprite.png', 'header-icon-reddit-sqare', );
$header-icon-shield-a-name: 'header-icon-shield-a';
$header-icon-shield-a-x: 136px;
$header-icon-shield-a-y: 0px;
$header-icon-shield-a-offset-x: -136px;
$header-icon-shield-a-offset-y: 0px;
$header-icon-shield-a-width: 20px;
$header-icon-shield-a-height: 20px;
$header-icon-shield-a-total-width: 156px;
$header-icon-shield-a-total-height: 128px;
$header-icon-shield-a-image: 'sprite.png';
$header-icon-shield-a: (136px, 0px, -136px, 0px, 20px, 20px, 156px, 128px, 'sprite.png', 'header-icon-shield-a', );
$header-icon-shield-h-name: 'header-icon-shield-h';
$header-icon-shield-h-x: 136px;
$header-icon-shield-h-y: 28px;
$header-icon-shield-h-offset-x: -136px;
$header-icon-shield-h-offset-y: -28px;
$header-icon-shield-h-width: 20px;
$header-icon-shield-h-height: 20px;
$header-icon-shield-h-total-width: 156px;
$header-icon-shield-h-total-height: 128px;
$header-icon-shield-h-image: 'sprite.png';
$header-icon-shield-h: (136px, 28px, -136px, -28px, 20px, 20px, 156px, 128px, 'sprite.png', 'header-icon-shield-h', );
$header-icon-shield-name: 'header-icon-shield';
$header-icon-shield-x: 136px;
$header-icon-shield-y: 56px;
$header-icon-shield-offset-x: -136px;
$header-icon-shield-offset-y: -56px;
$header-icon-shield-width: 20px;
$header-icon-shield-height: 20px;
$header-icon-shield-total-width: 156px;
$header-icon-shield-total-height: 128px;
$header-icon-shield-image: 'sprite.png';
$header-icon-shield: (136px, 56px, -136px, -56px, 20px, 20px, 156px, 128px, 'sprite.png', 'header-icon-shield', );
$header-icon-suitcase-name: 'header-icon-suitcase';
$header-icon-suitcase-x: 136px;
$header-icon-suitcase-y: 84px;
$header-icon-suitcase-offset-x: -136px;
$header-icon-suitcase-offset-y: -84px;
$header-icon-suitcase-width: 20px;
$header-icon-suitcase-height: 20px;
$header-icon-suitcase-total-width: 156px;
$header-icon-suitcase-total-height: 128px;
$header-icon-suitcase-image: 'sprite.png';
$header-icon-suitcase: (136px, 84px, -136px, -84px, 20px, 20px, 156px, 128px, 'sprite.png', 'header-icon-suitcase', );
$header-icon-tools-h-name: 'header-icon-tools-h';
$header-icon-tools-h-x: 0px;
$header-icon-tools-h-y: 108px;
$header-icon-tools-h-offset-x: 0px;
$header-icon-tools-h-offset-y: -108px;
$header-icon-tools-h-width: 20px;
$header-icon-tools-h-height: 20px;
$header-icon-tools-h-total-width: 156px;
$header-icon-tools-h-total-height: 128px;
$header-icon-tools-h-image: 'sprite.png';
$header-icon-tools-h: (0px, 108px, 0px, -108px, 20px, 20px, 156px, 128px, 'sprite.png', 'header-icon-tools-h', );
$header-icon-tools-name: 'header-icon-tools';
$header-icon-tools-x: 80px;
$header-icon-tools-y: 0px;
$header-icon-tools-offset-x: -80px;
$header-icon-tools-offset-y: 0px;
$header-icon-tools-width: 20px;
$header-icon-tools-height: 20px;
$header-icon-tools-total-width: 156px;
$header-icon-tools-total-height: 128px;
$header-icon-tools-image: 'sprite.png';
$header-icon-tools: (80px, 0px, -80px, 0px, 20px, 20px, 156px, 128px, 'sprite.png', 'header-icon-tools', );
$sidebar-forward-h-name: 'sidebar-forward-h';
$sidebar-forward-h-x: 0px;
$sidebar-forward-h-y: 40px;
$sidebar-forward-h-offset-x: 0px;
$sidebar-forward-h-offset-y: -40px;
$sidebar-forward-h-width: 32px;
$sidebar-forward-h-height: 32px;
$sidebar-forward-h-total-width: 156px;
$sidebar-forward-h-total-height: 128px;
$sidebar-forward-h-image: 'sprite.png';
$sidebar-forward-h: (0px, 40px, 0px, -40px, 32px, 32px, 156px, 128px, 'sprite.png', 'sidebar-forward-h', );
$sidebar-forward-name: 'sidebar-forward';
$sidebar-forward-x: 40px;
$sidebar-forward-y: 0px;
$sidebar-forward-offset-x: -40px;
$sidebar-forward-offset-y: 0px;
$sidebar-forward-width: 32px;
$sidebar-forward-height: 32px;
$sidebar-forward-total-width: 156px;
$sidebar-forward-total-height: 128px;
$sidebar-forward-image: 'sprite.png';
$sidebar-forward: (40px, 0px, -40px, 0px, 32px, 32px, 156px, 128px, 'sprite.png', 'sidebar-forward', );
$sidebar-magnifying-glass-name: 'sidebar-magnifying-glass';
$sidebar-magnifying-glass-x: 0px;
$sidebar-magnifying-glass-y: 0px;
$sidebar-magnifying-glass-offset-x: 0px;
$sidebar-magnifying-glass-offset-y: 0px;
$sidebar-magnifying-glass-width: 32px;
$sidebar-magnifying-glass-height: 32px;
$sidebar-magnifying-glass-total-width: 156px;
$sidebar-magnifying-glass-total-height: 128px;
$sidebar-magnifying-glass-image: 'sprite.png';
$sidebar-magnifying-glass: (0px, 0px, 0px, 0px, 32px, 32px, 156px, 128px, 'sprite.png', 'sidebar-magnifying-glass', );
$spritesheet-width: 156px;
$spritesheet-height: 128px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($arrow-down-a, $arrow-down, $arrow-up-a, $arrow-up, $entry-button-chat, $header-icon-briefcase-a, $header-icon-briefcase-h, $header-icon-briefcase, $header-icon-cog-h, $header-icon-cog, $header-icon-logout-h, $header-icon-logout, $header-icon-mail-a, $header-icon-mail-h, $header-icon-mail, $header-icon-reddit-sqare, $header-icon-shield-a, $header-icon-shield-h, $header-icon-shield, $header-icon-suitcase, $header-icon-tools-h, $header-icon-tools, $sidebar-forward-h, $sidebar-forward, $sidebar-magnifying-glass, );
$spritesheet: (156px, 128px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
