$content-bg-color: #fafafa;
$content-bg-color-alt: darken($content-bg-color, 5%);
$content-border-color: #e4e4e4;
$page-bg-color: #212121;
$primary-color: #e05c42;
$secondary-color: #5389d2;

$link-color: #2f2f2f;
$link-color-alt: #4d4d4d;

$body-margin: 40px;
$sidebar-margin: 15px;