@mixin calibri {
  font-family: calibri, arial, helvetica, sans-serif;
}


@import 'header-bottom-right';

// General list styling
.md ul, .md ol {
  padding-left: 20px;
}

.side {
  margin: 50px $body-margin $body-margin 0;
  padding: 0 $sidebar-padding;
  width: $sidebar-content-width;
  background-color: $content-bg-color;
}

@import 'search';


// Swap position of advertisement and submit buttons
// body.listing-page {
//   &.moderator .side > .spacer:nth-child(2) {
//     top: 160px;
//   }
//   .side > .spacer:nth-child(2) {
//     position: relative;
//     top: 80px;
//   }
//   .side > .spacer:nth-child(3),
//   &.moderator .side > .spacer:nth-child(4) {
//     position: relative;
//     top: -262px;
//   }
// }

@import 'submit-buttons';

// Headings
.heading {
  box-sizing: border-box;
  @include calibri;
  font-size: 20px;
  text-transform: uppercase;
}


.side .md h2, .spacer > .sidecontentbox .title {
  @extend .heading;
  padding: 4px 12px;
  width: $sidebar-width;
  color: #fff;
  margin-left: -($sidebar-padding);
  border: 0 solid $page-bg-color;
  border-top-width: 10px;
  border-bottom-width: 6px;
  background-color: $primary-color;
}

.content .md h2 {
  display: inline-block;
  @extend .heading;
  font-weight: bold;
  border-bottom: 6px solid $primary-color;
  padding-right: 20px;
}

.spacer > .sidecontentbox {
  a.helplink {
    margin-top: 20px;
    color: #fff;
  }
  .title {
    margin-bottom: 10px;
    h1 {
      color: inherit;
      font-size: inherit;
    }
  }
}

#ad_main_top {
  padding: 0 (20 - $sidebar-padding);
}

@import 'sub-info';

.titlebox form.toggle,
.leavemoderator {
  padding: 6px 5px;
}

.toggle input[type='checkbox'] {
  vertical-align: middle;
  position: relative;
  &:checked::after {
    display: block;
    position: absolute;
    font-size: 12px;
    line-height: 17px;
    width: 100%;
    height: 100%;
    font-family: "wingdings 2";
    font-weight: bold;
    color: #fff;
    text-align: center;
    content: "P";
  }
  &:checked::before {
    background-color: $primary-color;
    border-color: darken($primary-color,5);
  }
  &::before {
    display: block;
    position: absolute;
    box-sizing: border-box;
    content: '';
    top: -3px;
    left: -1px;
    width: 17px;
    height: 17px;
    background-color: #fff;
    border-radius: 2px;
    border: 2px solid $content-border-color;
  }
}

.res-sr-style-toggle {
  position: relative;
  top: 70px;
}

.leavemoderator { clear: both; }

// Flair Preview
.titlebox .tagline {
  margin: 0;
  padding: 3px 40px 5px;
  background-color: #fff;
  &::before {
    @extend .pseudo-icon;
    @include sprite($chevron-right);
    vertical-align: bottom;
    margin-right: 5px;
  }
  &::after {
    display: inline-block;
    content: '';
    position: relative;
    top: -3px;
    width: 100%;
    border-top: 1px dotted darken($content-bg-color,25);
  }
}