$sidebar-padding: 10px;
$sidebar-width: 340px;
$sidebar-content-width: $sidebar-width - ($sidebar-padding * 2);

@mixin calibri {
  font-family: calibri, arial, helvetica, sans-serif;
}


@import 'header-bottom-right';

.side {
  margin: 50px $body-margin $body-margin 0;
  padding: 0 $sidebar-padding;
  width: $sidebar-content-width;
  background-color: $content-bg-color;
}

@import 'search';


body.listing-page {
  &.moderator .side > .spacer:nth-child(2) {
    top: 160px;
  }
  .side > .spacer:nth-child(2) {
    position: relative;
    top: 80px;
  }
  .side > .spacer:nth-child(3),
  &.moderator .side > .spacer:nth-child(4) {
    position: relative;
    top: -262px;
  }
}

.morelink {
  a { color: #fff; }
  .nub, &:hover .nub { background: none; }
  , &:hover { background: $secondary-color; }
  text-transform: uppercase;
  font-weight: 100;
  border: none;
  padding: 20px 0;
  width: $sidebar-width - 10;
  margin-left: -($sidebar-padding) + 5;
  font-size: 20px;
  letter-spacing: 2px;
  @include calibri
}


.md h2, .spacer > .sidecontentbox .title {
  box-sizing: border-box;
  margin-left: -($sidebar-padding);
  padding: 4px 12px;
  width: $sidebar-width;
  color: #fff;
  @include calibri;
  font-size: 20px;
  text-transform: uppercase;
  background-color: $primary-color;
  border: 0 solid $page-bg-color;
  border-top-width: 10px;
  border-bottom-width: 6px;
}

.spacer > .sidecontentbox .title {
  margin-bottom: 10px;
  h1 {
    color: inherit;
    font-size: inherit;
  }
}

#ad_main_top {
  padding: 0 (20 - $sidebar-padding);
}

.titlebox form.toggle,
.leavemoderator {
  padding: 6px 5px;
}

.toggle input[type='checkbox'] {
  vertical-align: middle;
}

// Subscriber and Reader count

.subscribers {
  position: relative;
  &::before {
    display: block;
    position: absolute;
    content: '';
    top: -5px; left: 0;
    padding: 5px 0;
    width: $sidebar-content-width;
    height: 100%;
    background-color: $content-bg-color-alt;
  }
  .number, .word { position: relative; }
  .number::after { content: 'k-poppers' }
}

.users-online {
  &::before { display: none; }
  .number::after { content: 'here now'; }
  + div, + form { clear: left; }
}

.subscribers,
.users-online {
  float: left;
  position: relative;
  padding: 13px 10px;
  width: 90px;
  .number {
    display: block;
    font-size: 25px;
    &::after {
      display: block;
      text-transform: uppercase;
      font-size: 11px;
    }
  }
  .word { display: none; }
}


body.res {
  .subscribers,
  .users-online,
  .subButtons {
    top: -31px;
  }
}

body:not(.res) {
  .titlebox .subscribe-button {
    position: relative;
    z-index: 1;
    top: 14px;
    .add { background: #3c7020; }
    .remove { background: #702020; }
    .active {
      display: inline-block;
      padding: 10px 15px;
    }
  }
}

.res-sr-style-toggle {
  position: relative;
  top: 70px;
}

.subButtons {
  float: right;
  position: relative;
  z-index: 1;
  width: 100px;
  .res-fancy-toggle-button,
  .fancy-toggle-button .active {
    display: inline-block;
    width: 90px;
    text-align: center;
    padding: 2px 0;
    line-height: normal;
    text-transform: uppercase;
    font-size: 10;
    @include calibri;
  }
}

.leavemoderator {
  clear: both;
}
.titlebox .tagline {
  margin: 0;
  padding: 3px 40px 5px;
  background-color: #fff;
  > .author { margin-left: 8px; }
  &::after {
    display: inline-block;
    content: '';
    position: relative;
    top: -3px;
    width: 100%;
    border-top: 1px dotted darken($content-bg-color,25);
  }
}
