#header-bottom-right {
  width: $sidebar-width - ($sidebar-padding * 2);
  padding: 10px $sidebar-padding 0;
  border-radius: 0;
  background-color: $content-bg-color;
  right: $body-margin;
  text-align: right;
  margin-bottom: -50px;
  height: 40px;
  a {
    vertical-align: middle;
    text-align: left;
    text-indent: -9999px;
    white-space: nowrap;
  }
  a.message-count {
    position: relative;
    margin: -6px 0 0 -6px;
    padding: 2px 4px;
    text-indent: 0;
    line-height: initial;
    font-size: 7px;
    border-radius: 4px;
    border-bottom: 1px solid $content-bg-color;
    border-left: 1px solid $content-bg-color;
  }
  a.pref-lang {
    @include sprite($header-icon-cog);
    @include sprite-h($header-icon-cog-h);
    display: inline-block;
    margin-bottom: -2px;
  }
  &.res-userbar-toggle > .user { margin-left: 0; }
  .user {
    font-size: 0;
    vertical-align: top;
    display: inline-block;
    padding-top: 3px;
    float: left;
    text-align: left;
    > a {
      font-size: 14px;
      color: $primary-color;
    }
    > .userkarma {
      font-size: 10px;
      display: block;
      a { color: $link-color; }
    }
  }
}

#userbarToggle { display: none; }

#mail {
  &.nohavemail { @include sprite($header-icon-mail); }
  &.nohavemail:hover { @include sprite($header-icon-mail-h); }
  &.havemail { @include sprite($header-icon-mail-a); }
}

#modmail {
  &.nohavemail {
    @include sprite($header-icon-briefcase);
    @include sprite-h($header-icon-briefcase-h);
  }
  &.havemail { @include sprite($header-icon-briefcase-a); }
}


#new_modmail {
  &.nohavemail { @include sprite($header-icon-shield); }
  &.havemail { @include sprite($header-icon-shield-a); }
}

.logout a {
  display: inline-block;
  // text-indent: 9999px;
  @include sprite($header-icon-logout);
  @include sprite-h($header-icon-logout-h);
}

#RESSettingsButton.gearIcon {
  &::after {
    content:'';
    cursor: pointer;
    display: inline-block;
    text-shadow: none;
    @include sprite($header-icon-tools);
    @include sprite-h($header-icon-tools-h);
  }
}

.RESHoverDropdownList {
  margin-left: -150px !important;
}